@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Styles for the carousel */
.carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease;
}

.project-card {
  flex: 0 0 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.project-card.active {
  opacity: 1;
}

.project-card.inactive {
  pointer-events: none;
  position: absolute;
}
